<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @moneda.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @moneda.nombre %>
</p>

<%= link_to 'Edit', edit_moneda_path(@moneda) %> |
<%= link_to 'Back', monedas_path %>
