<h1>MEDICIONTIPOS</h1>
<div class="row">
	<div class="small-12 large-12 columns">
		<div class="panel">
			<table style="width:100%">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th></th>
      <th></th>  
    </tr>
  </thead>

  <tbody>
    <% @mediciontipos.each do |mediciontipo| %>
      <tr>
        <td><%= mediciontipo.codigo %></td>
        <td><%= mediciontipo.nombre %></td>
         <td><%= link_to image_tag("editar.png", :height => 20, :border=>0), edit_mediciontipo_path(mediciontipo) %></td>
        <td><%= link_to image_tag("borrar.png", :height => 20, :border=>0), mediciontipo, method: :delete, data: { confirm: 'Esta seguro que desea borrar el registro?' } %></td>
  </tr>
      </tr>
    <% end %>
  </tbody>
</table>
		</div>
		</div>
	</div>
<div class="row">
	<div class="small-12 large-12 columns">
		<div class="panel">
	<%= link_to 'Crear Mediciontipo', new_mediciontipo_path, :class => 'button', :style=> 'width:100%' %>
		</div> 
	</div>
</div>
