<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @catfiscal.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @catfiscal.nombre %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @catfiscal.iva %>
</p>

<%= link_to 'Edit', edit_catfiscal_path(@catfiscal) %> |

