<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @ebv.fecha %>
</p>

<p>
  <strong>Nacdird:</strong>
  <%= @ebv.nacdird %>
</p>

<p>
  <strong>Nacdirp:</strong>
  <%= @ebv.nacdirp %>
</p>

<p>
  <strong>Nacmatd:</strong>
  <%= @ebv.nacmatd %>
</p>

<p>
  <strong>Nacmatp:</strong>
  <%= @ebv.nacmatp %>
</p>

<p>
  <strong>Dttdird:</strong>
  <%= @ebv.dttdird %>
</p>

<p>
  <strong>Dttdirp:</strong>
  <%= @ebv.dttdirp %>
</p>

<p>
  <strong>Dttmatd:</strong>
  <%= @ebv.dttmatd %>
</p>

<p>
  <strong>Dttmatp:</strong>
  <%= @ebv.dttmatp %>
</p>

<p>
  <strong>Pasoad:</strong>
  <%= @ebv.pasoad %>
</p>

<p>
  <strong>Pesoap:</strong>
  <%= @ebv.pesoap %>
</p>

<p>
  <strong>Pesoaymd:</strong>
  <%= @ebv.pesoaymd %>
</p>

<p>
  <strong>Pesoaymp:</strong>
  <%= @ebv.pesoaymp %>
</p>

<p>
  <strong>Pesoadd:</strong>
  <%= @ebv.pesoadd %>
</p>

<p>
  <strong>Pesoadp:</strong>
  <%= @ebv.pesoadp %>
</p>

<p>
  <strong>Gdpd:</strong>
  <%= @ebv.gdpd %>
</p>

<p>
  <strong>Gdpp:</strong>
  <%= @ebv.gdpp %>
</p>

<p>
  <strong>Icad:</strong>
  <%= @ebv.icad %>
</p>

<p>
  <strong>Icap:</strong>
  <%= @ebv.icap %>
</p>

<p>
  <strong>Consumod:</strong>
  <%= @ebv.consumod %>
</p>

<p>
  <strong>Consumop:</strong>
  <%= @ebv.consumop %>
</p>

<p>
  <strong>Irfd:</strong>
  <%= @ebv.irfd %>
</p>

<p>
  <strong>Irfp:</strong>
  <%= @ebv.irfp %>
</p>

<p>
  <strong>Althd:</strong>
  <%= @ebv.althd %>
</p>

<p>
  <strong>Althp:</strong>
  <%= @ebv.althp %>
</p>

<p>
  <strong>Largod:</strong>
  <%= @ebv.largod %>
</p>

<p>
  <strong>Largop:</strong>
  <%= @ebv.largop %>
</p>

<p>
  <strong>Ctd:</strong>
  <%= @ebv.ctd %>
</p>

<p>
  <strong>Ctp:</strong>
  <%= @ebv.ctp %>
</p>

<p>
  <strong>Ced:</strong>
  <%= @ebv.ced %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @ebv.cep %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @ebv.animal %>
</p>

<%= link_to 'Edit', edit_ebv_path(@ebv) %> |

