<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @transacciontipo.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @transacciontipo.nombre %>
</p>

<%= link_to 'Edit', edit_transacciontipo_path(@transacciontipo) %> |
<%= link_to 'Back', transacciontipos_path %>
