<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @medicion.fecha %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @medicion.peso %>
</p>

<p>
  <strong>Adpv:</strong>
  <%= @medicion.adpv %>
</p>

<p>
  <strong>Adpvna:</strong>
  <%= @medicion.adpvna %>
</p>

<p>
  <strong>Ce:</strong>
  <%= @medicion.ce %>
</p>

<p>
  <strong>Mediciontipo:</strong>
  <%= @medicion.mediciontipo %>
</p>

<%= link_to 'Edit', edit_medicion_path(@medicion) %> |

